# python runtime files
*.pyc
# editing files
*.swp
# pickled objects
*.p
# lowercaser utility script
lowercaser.py
# pictures
*.png
# ipython notebooks
*.ipynb
#virual environment
venv/
# word lists
word_lists/
lyrics_split/
titles.txt
# data files
*.gz
*.json
# url for mongodb
mongodb_uri.py
# instance folder
instance/
config/development.py
