# python runtime files
*.pyc
# pickled objects
*.p
# lowercaser utility script
lowercaser.py
# pictures
*.png
# ipython notebooks
*.ipynb
#virual environment
venv
# word lists
word_lists
# data files
*.gz
*.json
